Implement `\Darling\PHPWebPaths\interfaces\paths\parts\url\Path`

### \Darling\PHPWebPaths\interfaces\paths\parts\url\Path

```
<?php

namespace \Darling\PHPWebPaths\interfaces\paths\parts\url;

use \Stringable;

/**
 * An Path is a part of a Url.
 *
 * For example:
 *
 *     https://sub.example.com:8080/path?query#fragment
 *                                  \__/
 *                                   |
 *                                  Path
 *
 *
 * A Path's value will be a string that consists of a sequence of
 * characters that begins with an alphanumeric character and is
 * followed by any combination of letters [a-z], digits [0-9],
 * periods (.), slashes (/), underscores (_), or hyphens (-).
 *
 * An Path will abide by the url authority specification
 * described in section 3.2 of RFC 3986:
 *
 * @see https://datatracker.ietf.org/doc/html/rfc3986#section-3.2
 *
 * The complete Path can be obtained via the __toString() method.
 *
 */
interface Path extends Stringable
{
    public function __toString(): string;
}

```

# Implementation Notes:

In order to abide by RFC 3986, a `Path` will basically be a collection of `SafeText` strings whose `__toString()`
method returns the `SafeText` strings concatenated with `/` as a separator.

```
$path = new Path(
    new SafeTextCollection(
        new SafeText(new Text('Foo')),
        new SafeText(new Text('Bar')),
        new SafeText(new Text('Baz.html')),
    ),
);

echo $path->__toString();
// example output : /Foo/Bar/Baz.html

```

### [Darling\PHPTextTypes\classes\strings\SafeText](https://github.com/sevidmusic/PHPTextTypes/blob/main/src/classes/strings/SafeText.php)

`SafeText` is used to provide a safe form of [`Text`](https://github.com/sevidmusic/PHPTextTypes#darlingphptexttypesclassesstringstext) that may contain unsafe characters.

The following characters are considered safe:

    Alphanumeric characters: `A-Z`, `a-z`, and `0-9`
    Underscores: `_`
    Hyphens: `-`
    Periods: `.`

Unsafe characters in the original `Text` will be replaced with underscores.

A consecutive sequence of 2 or more unsafe characters will be replaced by a single underscore: `_`

A consecutive sequence of 2 or more underscores will be replaced by a single underscore: `_`

A consecutive sequence of 2 or more hyphens will be replaced by a single hyphen: `-`

A consecutive sequence of 2 or more periods will be replaced by a single period: `.`

`SafeText` will never be empty, if the original `Text` is empty, then the `SafeText` will be the numeric character `0`.

Using a collection of `SafeText` to construct a `Path` will insure that a `Path`'s complete value will always be a string that consists of a sequence of characters that begins with an alphanumeric character and is followed by any combination of letters `a-z`, digits `0-9`, periods `.`, slashes `/`, underscores `_`, or hyphens `-`.